<!DOCTYPE html>
<html lang="zh-CN" ng-app="tour">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <base href="/">
  <title>App</title>
  <!-- build:cssBase stylesheets/base.css -->
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <!-- endbuild -->
  <!-- build:cssApp stylesheets/app.css -->
  <link rel="stylesheet" href="app/stylesheets/app.css">
  <!-- endbuild -->
</head>
<body ng-controller="DrawerController">
  <div class="drawer-main" ng-class="{open: drawerOpen}">
    <header class="header">
      <ul class="nav left">
        <li><a href="javascript:;" ng-click="toggleDrawer()" class="iconfont">&#xe700;</a></li>
      </ul>
      <div class="title"><h1>走亲访友</h1></div>
      <ul class="nav right">
        <li><a href="javascript:;" class="iconfont">&#xe65c;</a></li>
      </ul>
    </header>
    <div class="container" ng-view></div>
    <footer class="footer">
      &copy; 2015 tour.com
    </footer>
    <div class="drawer-mask" ng-click="toggleDrawer()"></div>
  </div>
  <aside class="drawer-aside" ng-class="{open: drawerOpen}">
    <div class="aside-user">
      <div class="user-avatar"><img src="app/images/default-avatar.png" alt="user-avatar"></div>
      <div class="user-action"><a href="#">注册</a>|<a href="#">登录</a></div>
    </div>
    <div class="aside-nav">
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="#">目的地</a></li>
        <li><a href="#">游记</a></li>
        <li><a href="#">活动</a></li>
        <li><a href="#">意见反馈</a></li>
      </ul>
    </div>
  </aside>
  <script type="text/javascript">
  if (window.devicePixelRatio && devicePixelRatio >= 2) {
    var testElem = document.createElement('div');
    testElem.style.border = '.5px solid transparent';
    document.body.appendChild(testElem);
    if (testElem.offsetHeight == 1) {
      document.querySelector('html').classList.add('hairlines');
    }
    document.body.removeChild(testElem);
  }
  </script>
  <!-- build:jsBase javascripts/base.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- endbuild -->
  <!-- build:jsApp javascripts/app.js -->
  <script src="app/javascripts/app.js"></script>
  <script src="app/javascripts/controllers/Main.js"></script>
  <script src="app/javascripts/controllers/Drawer.js"></script>
  <script src="app/javascripts/controllers/Landscape.js"></script>
  <script src="app/javascripts/controllers/LandscapeList.js"></script>
  <script src="app/javascripts/controllers/Post.js"></script>
  <script src="app/javascripts/controllers/PostList.js"></script>
  <!-- endbuild -->
</body>
</html>
