<!DOCTYPE html>
<html lang="zh-CN" ng-app="tour">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <base href="/">
  <title>App</title>
  <!-- build:cssBase app/stylesheets/base.css -->
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <!-- endbuild -->
  <!-- build:cssApp app/stylesheets/app.css -->
  <link rel="stylesheet" href="app/stylesheets/app.css">
  <!-- endbuild -->
</head>
<body ng-controller="DrawerController" ng-class="bodyClass">
  <div class="drawer-main" ng-class="{open: drawerOpen}">
    <header class="header">
      <ul class="nav left">
        <li ng-show="drawerToggle"><a href="javascript:;" ng-click="toggleDrawer()" class="iconfont">&#xf020e;</a></li>
        <li ng-show="backToggle"><a href="javascript:;" ng-click="back()" class="iconfont">&#xf0223;</a></li>
      </ul>
      <div class="title"><h1>{{title}}</h1></div>
      <ul class="nav right">
        <li><a href="javascript:;" class="iconfont">&#xf01fd;</a></li>
      </ul>
    </header>
    <div class="container" ng-view autoscroll></div>
    <footer class="footer">
      &copy; 2015 tour.com
    </footer>
    <div class="drawer-mask" ng-class="{open: drawerOpen}" ng-click="toggleDrawer()"></div>
  </div>
  <aside class="drawer-aside" ng-class="{open: drawerOpen}">
    <div class="aside-user">
      <div class="user-avatar"><img src="app/images/default-avatar.png" alt="user-avatar"></div>
      <div class="user-action"><a href="#">注册</a>|<a href="#">登录</a></div>
    </div>
    <div class="aside-nav">
      <ul data-hairline="true">
        <li data-hairline="true"><a href="/">首页</a></li>
        <li data-hairline="true"><a href="/destinationList">目的地</a></li>
        <li data-hairline="true"><a href="/posts">游记</a></li>
        <li data-hairline="true"><a href="/goods">特产</a></li>
      </ul>
      <ul data-hairline="true">
        <li data-hairline="true"><a href="/feedback">意见反馈</a></li>
        <li data-hairline="true"><a href="/about">关于我们</a></li>
      </ul>
    </div>
  </aside>
  <script type="text/javascript">
  if (window.devicePixelRatio && devicePixelRatio >= 2) {
    var testElem = document.createElement('div');
    testElem.style.border = '.5px solid transparent';
    document.body.appendChild(testElem);
    if (testElem.offsetHeight == 1) {
      document.querySelector('html').classList.add('hairlines');
    }
    document.body.removeChild(testElem);
  }
  </script>
  <!-- build:jsBase app/javascripts/base.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <!-- endbuild -->
  <!-- build:jsApp app/javascripts/app.js -->
  <script src="app/javascripts/controllers/module.controller.js"></script>
  <script src="app/javascripts/controllers/Drawer.js"></script>
  <script src="app/javascripts/controllers/Main.js"></script>
  <script src="app/javascripts/controllers/Landscape.js"></script>
  <script src="app/javascripts/controllers/LandscapeList.js"></script>
  <script src="app/javascripts/controllers/Post.js"></script>
  <script src="app/javascripts/controllers/PostList.js"></script>
  <script src="app/javascripts/controllers/DestinationList.js"></script>
  <script src="app/javascripts/controllers/Feedback.js"></script>
  <script src="app/javascripts/controllers/About.js"></script>
  <script src="app/javascripts/controllers/Order.js"></script>

  <script src="app/javascripts/services/module.service.js"></script>
  <script src="app/javascripts/services/AuthService.js"></script>

  <script src="app/javascripts/app.js"></script>
  <!-- endbuild -->
</body>
</html>
