<!DOCTYPE html>
<html lang="zh-CN" ng-app="tour">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <base href="/">
  <title>App</title>
  <!-- build:cssBase stylesheets/base.css -->
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <!-- endbuild -->
  <!-- build:cssApp stylesheets/app.css -->
  <link rel="stylesheet" href="app/stylesheets/app.css">
  <!-- endbuild -->
</head>
<body ng-controller="DrawerController">
  <div class="drawer-main" ng-class="{open: drawerOpen}">
    <header class="header">
      <ul class="nav left">
        <li><a href="javascript:;" ng-click="toggleDrawer()" class="iconfont">&#xe700;</a></li>
      </ul>
      <div class="title"><h1>走亲访友</h1></div>
      <ul class="nav right">
        <li><a href="javascript:;" class="iconfont">&#xe65c;</a></li>
      </ul>
    </header>
    <div class="container" ng-view></div>
    <footer class="footer">
      &copy; 2015 tour.com
    </footer>
    <div class="drawer-mask" ng-click="toggleDrawer()"></div>
  </div>
  <aside class="drawer-aside" ng-class="{open: drawerOpen}">
    <div class="aside-user"></div>
    <div class="aside-nav">
      <ul>
        <li>目的地</li>
        <li>游记</li>
        <li>意见反馈</li>
      </ul>
    </div>
  </aside>
  <!-- build:jsBase javascripts/base.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- endbuild -->
  <!-- build:jsApp javascripts/app.js -->
  <script src="app/javascripts/app.js"></script>
  <script src="app/javascripts/controllers/main.js"></script>
  <script src="app/javascripts/controllers/drawer.js"></script>
  <!-- endbuild -->
</body>
</html>
