<div class="post-detail">
  <header class="post-header">
    <img src="/app/images/banner.jpg" alt="">
    <div class="post-info">
      <h1 class="post-title">聆听自然的震撼</h1>
      <div class="post-author">文/文若 2015-12-22</div>
    </div>
  </header>
  <article class="post-content">
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
    <p>content...</p>
  </article>
</div>
