.card {
    margin-top: $margin-lg;
    background-color: $color-white;
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%),
      linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
    background-size: 100% 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: top, bottom;
    .card-header {
        padding: $padding;
        > h3 {
            margin: 0;
            padding-left: $padding;
            border-left: 4px solid $color-brand;
        }
    }
    .card-content {
        .items {
            @include clearfix;
            .item {
                position: relative;
                float: left;
                width: 50%;
                padding-bottom: $padding;
                padding-left: $padding;
                box-sizing: border-box;
                .item-cover {
                    > img {
                        width: 100%;
                    }
                }
                .item-info {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    padding: 4px;
                    border-radius: 2px;
                    background-color: rgba($color-dark, .33);
                    color: $color-white;
                }
                &:nth-child(odd) {
                    padding-right: $padding/2;
                }
                &:nth-child(even) {
                    padding-right: $padding;
                    padding-left: $padding/2;
                }
            }
        }
    }
}