.drawer {
  .drawer-main {
    position: relative;
    transition: .5s linear transform;
  }
  .drawer-aside {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $color-brand;
    transition: .5s linear transform;
  }
  &.open {
    .drawer-main {
      transform: translate(60%, 0);
      .drawer-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-dark, .66);
      }
    }
    .drawer-aside {
      transform: translate(60%, 0);
    }
  }
}
