.drawer-main {
  position: relative;
  transition: transform .5s linear;
  .drawer-mask {
    display: none;
  }
  &.open {
    transform: translateX(50%);
    .drawer-mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-dark, .33);
    }
  }
}

.drawer-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-brand;
  transform: translateX(-100%);
  transition: transform .5s linear;
  &.open {
    transform: translateX(-50%);
  }
}
