.landscape-filter {
  background-color: $color-white;
  border-bottom: 1px solid darken($color-bg-body, 10%);
  .landscape-current {
    padding: $padding;
    .gt {
      margin: 0 $padding;
    }
    .collapse-toggle {
      float: right;
    }
  }
}

.landscape-list {
  .landscape {
    position: relative;
    margin-top: $margin;
    padding-left: 170px;
    height: 100px;
    background-color: $color-white;
    .landscape-pics {
      position: absolute;
      width: 160px;
      height: 100px;
      top: 0;
      left: 0;
      > img {
        vertical-align: top;
        width: 100%;
        height: 100%;
      }
    }
    .landscape-info {
      p {
        margin: 0;
        line-height: 1.7;
      }
      .title {
        font-size: $font-size-sm;
      }
      .desc {
        color: $color-text-secondary;
      }
      .fee {
        .price {
          font-size: $font-size-md;
          color: #ff6000;
        }
      }
    }
  }
}
