body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
  color: $color-text-primary;
  background-color: $color-bg-body;
  font-size: 12px;
}

.hairlines div,
.hairlines section {
  border-width: 0.5px;
}
