@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eaeaea; }

.header {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background-color: #4CAF50; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header .nav > li {
      float: left; }
      .header .nav > li a {
        display: inline-block;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF; }
    .header .nav.left {
      float: left; }
    .header .nav.right {
      float: right; }
  .header .title {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header .title > h1 {
      margin: 0;
      font-size: 18px; }

.banner {
  position: relative; }
  .banner .banner-img {
    vertical-align: top;
    width: 100%; }
  .banner .banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66); }
    .banner .banner-mask .banner-slogan {
      position: absolute;
      top: 20%;
      left: 10%;
      color: rgba(255, 255, 255, 0.88); }
      .banner .banner-mask .banner-slogan > p {
        text-indent: 4em; }

.card {
  margin-top: 20px;
  background-color: #FFFFFF;
  background-image: -webkit-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%), -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
  background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%), linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-size: 100% 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: top, bottom; }
  .card .card-header {
    padding: 10px; }
    .card .card-header > h3 {
      margin: 0;
      padding-left: 10px;
      border-left: 4px solid #4CAF50; }
  .card .card-content .items:after {
    content: "";
    display: table;
    clear: both; }
  .card .card-content .items .item {
    position: relative;
    float: left;
    width: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box; }
    .card .card-content .items .item .item-cover > img {
      width: 100%; }
    .card .card-content .items .item .item-info {
      position: absolute;
      left: 20px;
      bottom: 20px;
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.33);
      color: #FFFFFF; }
    .card .card-content .items .item:nth-child(odd) {
      padding-right: 5px; }
    .card .card-content .items .item:nth-child(even) {
      padding-right: 10px;
      padding-left: 5px; }

.footer {
  padding: 20px 0;
  text-align: center; }

.drawer-main {
  position: relative;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear; }
  .drawer-main .drawer-mask {
    display: none; }
  .drawer-main.open {
    -webkit-transform: translateX(50%);
    transform: translateX(50%); }
    .drawer-main.open .drawer-mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.33); }

.drawer-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear; }
  .drawer-aside.open {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.posts .post {
  min-height: 130px;
  position: relative;
  padding-left: 220px;
  padding-right: 10px; }
  .posts .post .post-cover {
    position: absolute;
    width: 200px;
    height: 120px;
    left: 10px;
    top: 0; }
    .posts .post .post-cover > img {
      width: 100%;
      height: 100%; }
  .posts .post .post-info .post-title {
    margin: 0; }
  .posts .post .post-info .post-excerpt {
    margin: 0;
    margin-top: 10px;
    line-height: 1.7; }
