@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eaeaea; }

.header {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background-color: #4CAF50; }

.header:after {
  content: "";
  display: table;
  clear: both; }

.header .nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.header .nav > li {
  float: left; }

.header .nav > li a {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #FFFFFF; }

.header .nav.left {
  float: left; }

.header .nav.right {
  float: right; }

.header .title {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.header .title > h1 {
  margin: 0;
  font-size: 18px; }

.banner {
  position: relative; }

.banner .banner-img {
  vertical-align: top;
  width: 100%; }

.banner .banner-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66); }

.banner .banner-mask .banner-slogan {
  position: absolute;
  top: 20%;
  left: 10%;
  color: rgba(255, 255, 255, 0.88); }

.banner .banner-mask .banner-slogan > p {
  text-indent: 4em; }

.card {
  margin-top: 20px;
  background-color: #FFFFFF;
  padding: 10px;
  background-image: -webkit-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%), -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
  background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%), linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-size: 100% 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: top, bottom; }

.card .card-header > h3 {
  margin: 0;
  padding-left: 10px;
  border-left: 4px solid #4CAF50; }

.card .card-content {
  margin-top: 10px; }

.card .card-content .items {
  display: table; }

.card .card-content .items .item {
  display: table-cell;
  width: 50%; }

.card .card-content .items .item .item-cover > img {
  width: 100%; }

.footer {
  padding: 20px 0;
  text-align: center; }

.drawer .drawer-main {
  position: relative;
  -webkit-transition: .5s linear transform;
  transition: .5s linear transform; }

.drawer .drawer-aside {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  -webkit-transition: .5s linear transform;
  transition: .5s linear transform; }

.drawer.open .drawer-main {
  -webkit-transform: translate(60%, 0);
  transform: translate(60%, 0); }

.drawer.open .drawer-main .drawer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66); }

.drawer.open .drawer-aside {
  -webkit-transform: translate(60%, 0);
  transform: translate(60%, 0); }
