h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

body {
  color: #555555;
  background-color: #eaeaea;
  font-size: 12px; }

.hairlines *[data-hairline="true"] {
  border-width: 0.5px !important; }

.container {
  min-height: 700px; }

.header {
  position: relative;
  color: #555555;
  background-color: #4CAF50; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header .nav > li {
      float: left; }
      .header .nav > li a {
        display: inline-block;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF; }
    .header .nav.left {
      float: left; }
    .header .nav.right {
      float: right; }
  .header .title {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header .title > h1 {
      margin: 0;
      font-size: 18px; }

.banner {
  position: relative; }
  .banner .banner-img {
    vertical-align: top;
    width: 100%; }
  .banner .banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66); }
    .banner .banner-mask .banner-slogan {
      position: absolute;
      top: 20%;
      left: 10%;
      color: rgba(255, 255, 255, 0.88); }
      .banner .banner-mask .banner-slogan > p {
        text-indent: 4em; }

.card {
  margin-top: 20px;
  background-color: #FFFFFF;
  border: 1px solid #d1d1d1;
  border-left: none;
  border-right: none; }
  .card .card-header {
    padding: 10px; }
    .card .card-header > h3 {
      margin: 0;
      padding-left: 10px;
      border-left: 4px solid #4CAF50; }
  .card .card-content .items:after {
    content: "";
    display: table;
    clear: both; }
  .card .card-content .items .item {
    position: relative;
    float: left;
    width: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box; }
    .card .card-content .items .item .item-cover > img {
      width: 100%; }
    .card .card-content .items .item .item-info {
      position: absolute;
      left: 10px;
      bottom: 20px;
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.33);
      color: #FFFFFF; }
    .card .card-content .items .item:nth-child(odd) {
      padding-right: 5px; }
    .card .card-content .items .item:nth-child(even) {
      padding-right: 10px;
      padding-left: 5px; }

.footer {
  padding: 20px 0 40px;
  text-align: center; }

.drawer-main {
  position: relative;
  min-height: 100%;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear; }
  .drawer-main.open {
    -webkit-transform: translateX(70%);
    transform: translateX(70%); }

.drawer-mask {
  display: none;
  z-index: 100; }
  .drawer-mask.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66); }

.drawer-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear; }
  .drawer-aside.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  .drawer-aside .aside-user {
    text-align: center;
    background-color: #4CAF50;
    padding: 10px; }
    .drawer-aside .aside-user .user-avatar {
      text-align: center;
      padding: 10px; }
      .drawer-aside .aside-user .user-avatar > img {
        vertical-align: top;
        width: 50px;
        height: 50px;
        border-radius: 50px; }
    .drawer-aside .aside-user .user-action {
      color: #FFFFFF; }
      .drawer-aside .aside-user .user-action > a {
        color: #FFFFFF;
        text-decoration: none; }
  .drawer-aside .aside-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #FFFFFF;
    border-top: 1px solid #d1d1d1;
    margin-top: 20px; }
    .drawer-aside .aside-nav > ul > li {
      border: 1px solid #d1d1d1;
      border-right: none;
      border-left: none;
      border-top: none; }
      .drawer-aside .aside-nav > ul > li > a {
        display: block;
        padding: 10px;
        color: #555555;
        text-decoration: none;
        font-size: 14px; }
    .drawer-aside .aside-nav > ul:first-child {
      border-top: none;
      margin-top: 0; }

.posts .post {
  display: block;
  min-height: 130px;
  position: relative;
  padding-left: 220px;
  padding-right: 10px;
  text-decoration: none; }
  .posts .post .post-cover {
    position: absolute;
    width: 200px;
    height: 120px;
    left: 10px;
    top: 0; }
    .posts .post .post-cover > img {
      width: 100%;
      height: 100%; }
  .posts .post .post-info .post-title {
    color: #555555;
    font-size: 14px; }
  .posts .post .post-info .post-excerpt {
    color: #777777; }

.post-detail {
  background-color: #FFFFFF; }
  .post-detail .post-header {
    position: relative;
    height: 200px;
    overflow: hidden; }
    .post-detail .post-header .post-info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.88));
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.88)); }
      .post-detail .post-header .post-info .post-title {
        color: #FFFFFF; }
      .post-detail .post-header .post-info .post-author {
        color: #FFFFFF; }
  .post-detail .post-content {
    padding: 10px; }

.landscape-filter {
  position: relative;
  background-color: #FFFFFF;
  height: 40px;
  border-bottom: 1px solid #d1d1d1; }
  .landscape-filter .landscape-current {
    padding-left: 10px; }
    .landscape-filter .landscape-current:after {
      content: "";
      display: table;
      clear: both; }
    .landscape-filter .landscape-current .bread-nav {
      float: left;
      line-height: 40px; }
      .landscape-filter .landscape-current .bread-nav .gt {
        margin: 0 10px; }
    .landscape-filter .landscape-current .collapse-toggle {
      float: right;
      border-left: 1px solid #d1d1d1; }
      .landscape-filter .landscape-current .collapse-toggle .iconfont {
        line-height: 40px;
        padding: 0 10px;
        display: inline-block;
        -webkit-transition: -webkit-transform .5s linear;
        transition: -webkit-transform .5s linear;
        transition: transform .5s linear;
        transition: transform .5s linear, -webkit-transform .5s linear; }
      .landscape-filter .landscape-current .collapse-toggle.open > .iconfont {
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg); }

.landscape-all {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  border-bottom: 1px solid #d1d1d1; }
  .landscape-all.open {
    display: block; }
  .landscape-all .top-locations {
    display: inline-block;
    width: 100px;
    border-right: 1px solid #d1d1d1; }
    .landscape-all .top-locations > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .landscape-all .top-locations > ul > li {
        padding: 10px;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid #d1d1d1; }
        .landscape-all .top-locations > ul > li:last-child {
          border-bottom: none; }
  .landscape-all .sub-locations {
    display: inline-block; }

.landscape-list {
  padding-top: 10px; }
  .landscape-list .landscape {
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 170px;
    height: 100px;
    text-decoration: none;
    background-color: #FFFFFF; }
    .landscape-list .landscape .landscape-pics {
      position: absolute;
      width: 160px;
      height: 100px;
      top: 0;
      left: 0;
      padding: 5px; }
      .landscape-list .landscape .landscape-pics > img {
        vertical-align: top;
        width: 100%;
        height: 100%; }
    .landscape-list .landscape .landscape-info {
      padding-right: 10px;
      line-height: 1.7;
      color: #555555; }
      .landscape-list .landscape .landscape-info .title {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .landscape-list .landscape .landscape-info .desc {
        color: #777777;
        height: 50px;
        overflow: hidden; }
      .landscape-list .landscape .landscape-info .fee {
        text-align: right; }
        .landscape-list .landscape .landscape-info .fee .price {
          font-size: 16px;
          color: #ff6000; }
        .landscape-list .landscape .landscape-info .fee .unit {
          margin-left: 5px;
          color: #777777; }

.landscape-detail .landscape-captures {
  position: relative; }
  .landscape-detail .landscape-captures > img {
    vertical-align: top;
    width: 100%; }
  .landscape-detail .landscape-captures .landscape-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    padding: 10px;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.88));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.88)); }

.landscape-detail .landscape-brief {
  padding: 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #d1d1d1; }

.landscape-detail .landscape-item {
  margin-top: 20px;
  background-color: #FFFFFF;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1; }
  .landscape-detail .landscape-item .detail-title {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1; }
  .landscape-detail .landscape-item .detail-content {
    padding: 10px; }

.landscape-actions {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #d1d1d1; }
  .landscape-actions > .left,
  .landscape-actions .right {
    float: left;
    width: 50%;
    padding: 10px; }
  .landscape-actions .btn {
    width: 100%; }

body.landscape-detail {
  padding-bottom: 40px; }

.btn {
  display: inline-block;
  outline: none;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #d1d1d1; }

.btn-primary {
  background-color: #4CAF50;
  border: 1px solid #3d8b40; }

.destination-list > ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .destination-list > ul:after {
    content: "";
    display: table;
    clear: both; }
  .destination-list > ul > li {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px; }
    .destination-list > ul > li:nth-child(odd) {
      padding-right: 5px; }
    .destination-list > ul > li:nth-child(even) {
      padding-left: 5px; }
    .destination-list > ul > li > a {
      display: block;
      position: relative; }
      .destination-list > ul > li > a .cover {
        width: 100%;
        vertical-align: top; }
      .destination-list > ul > li > a .caption-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.33); }
        .destination-list > ul > li > a .caption-wrapper .caption {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #FFFFFF;
          text-align: center; }
