//colors
$color-brand: #4CAF50;
$color-dark: #000000;
$color-white: #FFFFFF;
$color-text-white: #FFFFFF;
$color-text: #000000;
$color-text-primary: rgba($color-text, .87);
$color-text-secondary: rgba($color-text, .54);
$color-text-hint: rgba($color-text, .38);
$color-bg-body: #eaeaea;

//font
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

//icon
$icon-color-white: #FFFFFF;
$icon-size-xs: 16px;
$icon-size-sm: 24px;
$icon-size-md: 32px;
$icon-size-lg: 40px;

//padding margin
$padding: 10px;
$padding-lg: 20px;
$margin: 10px;
$margin-lg: 20px;

//border
$border-color: rgba($color-dark, .12);

