//colors
$color-brand: #4CAF50;
$color-dark: #000000;
$color-white: #FFFFFF;

$color-text-white: #FFFFFF;
$color-text: #000000;
$color-text-primary: lighten($color-text, 33.5%);
$color-text-secondary: lighten($color-text, 46.7%);
$color-text-hint: lighten($color-text, 93.5%);

$color-bg-body: #f5f5f5;;

//font
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;

//icon
$icon-color-white: #FFFFFF;
$icon-size-xs: 16px;
$icon-size-sm: 24px;
$icon-size-md: 32px;
$icon-size-lg: 40px;

//padding margin
$padding: 10px;
$padding-lg: 20px;
$margin: 10px;
$margin-lg: 20px;

//border
$border-color: darken($color-bg-body, 10%);
$btn-color-red: #ff7e82;
