.card {
    margin-top: $margin-lg;
    background-color: $color-white;
    border: 1px solid darken($color-bg-body, 10%);
    border-left: none;
    border-right: none;
    .card-header {
        padding: $padding;
        > h3 {
            margin: 0;
            padding-left: $padding;
            border-left: 4px solid $color-brand;
        }
    }
    .card-content {
        .items {
            @include clearfix;
            .item {
                position: relative;
                float: left;
                width: 50%;
                padding-bottom: $padding;
                padding-left: $padding;
                box-sizing: border-box;
                .item-cover {
                    > img {
                        width: 100%;
                    }
                }
                .item-info {
                    position: absolute;
                    left: $margin;
                    bottom: $margin-lg;
                    padding: 4px;
                    border-radius: 2px;
                    background-color: rgba($color-dark, .33);
                    color: $color-white;
                }
                &:nth-child(odd) {
                    padding-right: $padding/2;
                }
                &:nth-child(even) {
                    padding-right: $padding;
                    padding-left: $padding/2;
                }
            }
        }
    }
}
