<div class="landscape-filter">
  <div class="landscape-current">
    <div class="bread-nav">贵州<span class="gt">&gt;</span>黔东南<span class="gt">&gt;</span>黎平</div>
    <div class="collapse-toggle" ng-class="{open: filterToggle}" ng-click="toggle($event)"><i class="iconfont">&#xf0221;</i></div>
  </div>
  <div class="landscape-all" ng-class="{open: filterToggle}">
    <div class="top-locations">
      <ul>
        <li>热门</li>
        <li>贵州</li>
        <li>云南</li>
        <li>蒙古</li>
        <li>新疆</li>
      </ul>
    </div>
    <div class="sub-locations">

    </div>
  </div>
</div>
<div class="landscape-list">
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">小李的家</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">小王的家</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">的所发生的的所发生的</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">的所发生的的所发生的</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">的所发生的的所发生的</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
  <a href="/landscape/1" class="landscape">
    <div class="landscape-pics"><img src="/app/images/banner.jpg" alt=""></div>
    <div class="landscape-info">
      <div class="title">的所发生的的所发生的</div>
      <div class="desc">是的发生大发生的是的发生大发生的是的发生大发生的是的发生大发生的是的发</div>
      <div class="fee"><span class="price">50</span><span class="unit">/天</span></div>
    </div>
  </a>
</div>
