<section class="banner">
    <img class="banner-img" src="app/images/banner.jpg" alt="tour-slogan">
    <div class="banner-mask">
        <div class="banner-slogan">
            <h1>自然之旅</h1>
            <p>——让内心回归纯粹</p>
        </div>
    </div>
</section>
<section class="recommend">
  <div class="recommend-title">
    <h1>春节好去处</h1>
    <p>到异乡体验不同的年味</p>
  </div>
  
  <a href="/landscape/1" class="item">
    <div class="item-captures">
      <img src="app/images/banner.jpg" alt="">
    </div>
    <div class="item-info">
      <h1>堂安侗寨</h1>
    </div>
  </a>

  <a href="/landscape/1" class="item">
    <div class="item-captures">
      <img src="app/images/banner.jpg" alt="">
    </div>
    <div class="item-info">
      <h2>小李的家</h2>
      <p>黎平堂安</p>
    </div>
    <div class="item-price">
      ¥100/每天
    </div>
  </a>
</section>

<!--
<section class="card" data-hairline="true">
    <header class="card-header"><h3>发现</h3></header>
    <div class="card-content">
        <div class="items">
            <a class="item" href="/landscapes/1">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info">肇兴侗寨</div>
                </div>
            </a>
            <a class="item" href="/landscapes/2">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info">西江苗寨</div>
                </div>
            </a>
            <a class="item" href="/landscapes/3">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info">侗乡黎平</div>
                </div>
            </a>
            <a class="item" href="/landscapes/4">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info">傣族民居</div>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="card" data-hairline="true">
    <header class="card-header"><h3>游记</h3></header>
    <div class="card-content">
        <div class="posts">
            <a class="post" href="/post/1">
                <div class="post-cover">
                    <img src="app/images/banner.jpg" alt="">
                </div>
                <div class="post-info">
                    <p class="post-title">侗族原生态之旅</p>
                    <p class="post-excerpt">远离城市的喧嚣，抛弃一切烦恼。</p>
                </div>
            </a>
            <a class="post" href="/post/2">
                <div class="post-cover">
                    <img src="app/images/banner.jpg" alt="">
                </div>
                <div class="post-info">
                    <p class="post-title">侗族原生态之旅</p>
                    <p class="post-excerpt">远离城市的喧嚣，抛弃一切烦恼。</p>
                </div>
            </a>
        </div>
    </div>
</section>
-->
