<section class="banner">
    <img class="banner-img" src="app/images/banner.jpg" alt="tour-slogan">
    <div class="banner-mask">
        <div class="banner-slogan">
            <h1>自然之旅</h1>
            <p>——让内心回归纯粹</p>
        </div>
    </div>
</section>

<section class="card">
    <header class="card-header"><h3>推荐</h3></header>
    <div class="card-content">
        <div class="items">
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card">
    <header class="card-header"><h3>发现</h3></header>
    <div class="card-content">
        <div class="items">
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card">
    <header class="card-header"><h3>游记</h3></header>
    <div class="card-content">
        <div class="items">
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-cover">
                    <img src="app/images/banner.jpg" alt="">
                    <div class="item-info"></div>
                </div>
            </div>
        </div>
    </div>
</section>
