<div class="order-form">
  <form class="form" ng-submit="order()">
    <div class="form-row">
      <label for="customerName">姓名：</label>
      <input type="text" class="form-input" id="customerName" ng-model="customer.name">
    </div>
    <div class="form-row">
      <label for="customerName">电话：</label>
      <input type="text" class="form-input" id="customerName" ng-model="customer.phone">
    </div>
    <div class="form-row">
      <button class="btn btn-red">提交</button>
    </div>
  </form>
</div>
